@import '../constants/colors';
@import '../constants/dimensions';
@import '../constants/fonts';

#content-wrapper {
  background-color: var(--color-bg);
/*
  position: absolute;
  top: 0;
  bottom: 0;
*/
  width: 100%;
  display: flex;
}

#sidebar {
  min-width: 50px;
  background-color: var(--color-bg);
  border-right: 1px solid @hl-md;
}

#mainbar {
  width: 100%;
  background-color: var(--color-bg);
}

.sidebar-icon {
  background-color: var(--color-bg);
  border-bottom: 1px solid @hl-md;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 50px;
  font-size: 30px;
  color: var(--color-font);
  opacity: 0.7;
}

.sidebar-icon.active, .sidebar-icon:hover {
  opacity: 1.0;
}

&:not(.active).sidebar-icon:hover {
  cursor: pointer;
}

.theme--pane__header {
  height: 40px;
  width: 100%;
  background-color: var(--color-bg);
  color: @hl-md;
}

#content {
  background-color: var(--color-bg);
  height: 100%;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
}

.header-table {
  margin-top: 2px;
  background-color: @hl-xs;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;

  th {
    text-align: left;
    border-right: 1px solid @hl-md;
    border-top: 1px solid @hl-md;
    border-bottom: 1px solid @hl-md;
    font-size: 14px;
    font-weight: 500;
    padding: 2px;
    text-transform: none;
  }

  th.ordered {
    color: var(--color-surprise);
  }

  th:last-child {
    width: auto;
  }
}

.order-icon {
  float: right;
}

.requests-table {
  width: 100%;
  background-color: var(--color-bg);

  tr.selected {
    background-color: @hl-lg;
  }

  tr {
    &:not(.selected):hover {
      cursor: pointer;
      background-color: @hl-xs;
    }
  }

  td {
    border-right: 1px solid @hl-md;
    padding: 2px;
  }

  td:last-child {
    width: auto;
  }
}

.requests-table-pane {
  //border-bottom: 1px solid @hl-md;
}

.request-tab-panel {
  padding: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.requests-table-header {
  cursor: pointer;
}

.requests-table-header:hover {
  background-color: @hl-xs;
}

.requests-table-header-title {
  // debugging:
  // background-color: antiquewhite;
  display: inline-block;
  width: calc(100% - 8px);
}

/* HORIZONTAL */
.resizable-border {
  border-top: 1px solid @hl-md;
  cursor: row-resize;
}

.resizable-border-transparent {
  opacity: 0.0;
  z-index: 999;
  height: 8px;
  margin-top: -8px;
  cursor: row-resize;
}

/* VERTICAL */
.resizable-border-vert {
  // debugging:
  // background-color: aliceblue;
  //border-right: 1px solid @hl-md;
  cursor: col-resize;
  display: inline-block;
  float: right;
  margin-right: -3px; // To make up for the padding
}

.resizable-border-vert-transparent {
  opacity: 0.0;
  z-index: 999;
  width: 8px;
  height: 100%;
  // margin-right: -8px;

  cursor: col-resize;
}

.hidden {
  display: none;
}

.filterList {
  height: 100px !important;
  overflow: auto !important;
  white-space: nowrap;
}
