@import '../constants/colors';
@import '../constants/dimensions';
@import '../constants/fonts';

#content-wrapper {
  background-color: var(--color-bg);

  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
}

#sidebar {
  width: 50px;
  background-color: var(--color-bg);
  border-right: 1px solid #444A55;
  border-right: 1px solid @hl-md;
}

#mainbar {
  width: 100%;
  background-color: var(--color-bg);
}

.sidebar-icon {
  background-color: var(--color-bg);
  border-bottom: 1px solid #444A55;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 50px;
}

#tabs-bar {
  height: 40px;
  width: 100%;
  background-color: var(--color-bg);
}

#content {
  background-color: var(--color-bg);
  height: 100%;
}
